{% extends "base.html" %}
{% block start %}
<div class="container" mt-5>
 <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<h2>Update Books</h2><hr>
<div class="mb-3">
<label for="exampleInputEmail1" class="form-label">Task Title</label>
 <input name="title" value="{{ Todo.title }}" required type="text" class="form-control">
</div>
<div class="mb-3">
 <label for="exampleInputPassword1" class="form-label">Description</label>
<textarea name="description"  name="book_description" required class="form-control" >{{ Todo.description }}</textarea>
</div>
 <div class="mb-3">
 <label for="exampleInputEmail1" class="form-label">Deadline</label>
 <input name="deadline" type="datetime-local" class="form-control" value="{{ Todo.deadline }}">
<br>
 </div>
<button type="submit" class="btn btn-primary" >Update Now</button>
 </form>
 
   

 </div>

  
   
  
{% endblock %}  



 in updatebooks.html